@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Light.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Light.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-Light.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-LightItalic.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-LightItalic.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-LightItalic.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Regular.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Regular.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-Regular.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-Regular.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-RegularItalic.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-RegularItalic.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-RegularItalic.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-RegularItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Medium.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Medium.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-Medium.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-Medium.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-MediumItalic.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-MediumItalic.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-MediumItalic.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-DemiBold.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-DemiBold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-DemiBold.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-DemiBold.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-DemiBoldItalic.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-DemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-DemiBoldItalic.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-DemiBoldItalic.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-DemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Bold.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Bold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-Bold.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-Bold.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-BoldItalic.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-BoldItalic.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-BoldItalic.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-ExtraBold.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-ExtraBold.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-ExtraBold.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-ExtraBoldItalic.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-ExtraBoldItalic.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-ExtraBoldItalic.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Heavy.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-Heavy.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-Heavy.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-Heavy.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family : 'ManifoldDSA';
	src         : url('../../assets/fonts/manifold/ManifoldDSA-HeavyItalic.eot');
	src         : url('../../assets/fonts/manifold/ManifoldDSA-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/manifold/ManifoldDSA-HeavyItalic.woff2') format('woff2'),
	url('../../assets/fonts/manifold/ManifoldDSA-HeavyItalic.woff') format('woff'),
	url('../../assets/fonts/manifold/ManifoldDSA-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
